In [5]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# for webscraping import Beautiful Soup 
from bs4 import BeautifulSoup

import xml

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

# Página web: www.worldometers.info

In [6]:
wurl = requests.get("https://www.worldometers.info/coronavirus/").text
soup = BeautifulSoup(wurl,'lxml')

In [7]:
table_post = soup.find('table')
fields = table_post.find_all('td')

Country_Other  = []
Total_Cases = []
New_Cases = []
Total_Deaths = []
New_Deaths = []
Total_Recovered = []
Active_Cases = []
Serious_Critical = []
Total_Cases_1M_pop = []



for i in range(0, len(fields), 9):
    Country_Other.append(fields[i].text.strip())
    Total_Cases.append(fields[i+1].text.strip())
    New_Cases.append(fields[i+2].text.strip())
    Total_Deaths.append(fields[i+3].text.strip())
    New_Deaths.append(fields[i+4].text.strip())
    Total_Recovered.append(fields[i+5].text.strip())
    Active_Cases.append(fields[i+6].text.strip())
    Serious_Critical.append(fields[i+7].text.strip())
    Total_Cases_1M_pop.append(fields[i+8].text.strip())
    
df = pd.DataFrame(data=[Country_Other,Total_Cases,New_Cases,
                        Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,
                        Serious_Critical,Total_Cases_1M_pop]).transpose()
df.columns = ['País','Casos totales','Nuevos casos','Muertes totales','Nuevas muertes','Recuperados',
             'Casos activos','Casos críticos','Casis/1M habit.']
df.head()

,País,Casos totales,Nuevos casos,Muertes totales,Nuevas muertes,Recuperados,Casos activos,Casos críticos,Casis/1M habit.
0,China,"80,894",+13,"3,237",+11,"69,614","8,043","2,622",56
1,Italy,"31,506",,"2,503",,"2,941","26,062","2,060",521
2,Iran,"16,169",,988,,"5,389","9,792",,193
3,Spain,"11,826",,533,,"1,028","10,265",563,253
4,Germany,"9,367",,26,,67,"9,274",2,112

In [8]:
df['Nuevos casos']= (df['Nuevos casos'].str[1:])
df['Nuevas muertes']= (df['Nuevas muertes'].str[1:])
df=df.replace({',': ''}, regex=True)

In [9]:
df=df.replace(r'^\s*$', 0, regex=True)
df=df.drop(df.index[len(df)-1])

In [10]:
df.head()

,País,Casos totales,Nuevos casos,Muertes totales,Nuevas muertes,Recuperados,Casos activos,Casos críticos,Casis/1M habit.
0,China,80894,13,3237,11,69614,8043,2622,56
1,Italy,31506,0,2503,0,2941,26062,2060,521
2,Iran,16169,0,988,0,5389,9792,0,193
3,Spain,11826,0,533,0,1028,10265,563,253
4,Germany,9367,0,26,0,67,9274,2,112

In [11]:
df[['Casos totales','Nuevos casos',
     'Muertes totales','Nuevas muertes','Recuperados',
     'Casos activos','Casos críticos']]= df[['Casos totales','Nuevos casos',
     'Muertes totales','Nuevas muertes','Recuperados',
     'Casos activos','Casos críticos']].astype(int)
df['Casis/1M habit.']=df['Casis/1M habit.'].astype(float)

In [12]:
df.dtypes

País                object
Casos totales        int64
Nuevos casos         int64
Muertes totales      int64
Nuevas muertes       int64
Recuperados          int64
Casos activos        int64
Casos críticos       int64
Casis/1M habit.    float64
dtype: object

In [16]:
df.to_csv(r'/Users/fernandosevilla/Documents/GitHub/Data-Science-UOC/FS_AQ_Scraping_Practica_1.csv',index=False)